/*This is a test file to help serve as a library to existing commands*/
.test {
  animation-name: damaged;
  animation-duration: 1s;
  animation-play-state: running;
  animation-timing-function: step-end;
  
}
@keyframes
/*this.timer = setTimeout(() => this.damagePlayer(), 1000);*/

/*this.setState({
  attackDisabled: newAttackDisabled
});*/
